<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
/>
  <title>Home Page</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome to the Cook Book app, <%= user.username %>!</h1>
  <% } else { %>
    <h1>Welcome to the app, guest.</h1>
  <% } %>
</body>
</html>
