<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head.ejs') %>
  <title>Add new note</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="container mt-5">
    <h4>Add new Category</h4>
    
    <form method="POST" action="../categories">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      
      <select class="form-select form-select-lg mb-3" aria-label="Large select example" name="color">
        <% colorsEnum.forEach(value => { %>
          <option value="<%= value %>"><%= value %></option>  
        <% }); %>
      </select>

      <!-- <div class="mb-3">
        <label for="color" class="form-label">Color</label>
        <textarea class="form-control" placeholder="Your note content goes here" id="content" name="content"></textarea>
      </div> -->

      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="../categories" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</body>
</html>
