<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" />
    <link rel="stylesheet" href="/style.css">
    <title>My Notes</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>My Notes</h1>

    <div class="notes-container">
        <% notes.forEach(note => { %>
            <div class="note">
                <h4><%= note.title %></h4>
                 <p><%= note.content %></p>
            </div>
        <%}); %>
    </div>

    <a href="notes/new">Add New Note</a>
  </body>
</html>
