<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_head.ejs') %>
  <title>Add new note</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <div class="container mt-5">
    <h4>Add new note</h4>
    
    <form method="POST" action="../notes">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" placeholder="Your note content goes here" id="content" name="content"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="../notes" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</body>
</html>
